*,
*::after
*::before{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body{
    font-family: 'lato', sans-serif;
    font-size: 22px;
    }
      
    h1{
        font-size: 104px;
        margin: 4rem;
    }

    .fill{

        /*Backhround gradient*/
        background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

     .pesquisa{
        width: 235px;
        height: 52px;
        background: #F2F2F2;
        border-radius: 50px;
               
    }
    .txtpesquisa{
        position: relative;
        border:none;
        background: #F2F2F2;
        width: 78px;
        height: 28px;
        left: 40px;
        top: 9px;
    }
    .lupa{
        position: relative;
        height: 18px;
        width: 18px;
        right: 75px;
        top: 14px;
        border-radius: 0px;

    } 
    
    h1{
        font-family: 'lato', sans-serif;
        font-size: 104px;
        }

    .elipse{
        background:linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
        -webkit-background-clip:content-box;
        -webkit-text-fill-color: transparent;
        border-radius: 300px;
        opacity: 0.2;
        width: 581px;
        height: 581px;
        position: relative;
    }

   .box_2{
    background-color:#F3F3F3;
    border-radius: 8px; 
    align-items: center;
    padding: 5px;
    position: relative;
    width: 1440px;
    height: 767px;
   }
   .wallpaper{
    background-image:url(../img/Largada.png);
    background-repeat:no-repeat;
    background-size: cover;
    width: 1600px;
    height: 720px;
    position: absolute;
    }

        
    .infobox_7{
        width: 613px;
        height: 838px;
        background: #F3F3F3;
        border-radius: 0px 8px 8px 0px;
        position: relative;
        top: 800px;
        
    }
    .infobox_8{
        background: #F3F3F3;
        border-radius: 0px 8px 8px 0px;
        width: 613px;
        height: 838px;

    }

    .footer{
        width: 1600px;
        height: 630px;
        background: #F3F3F3;
        position: relative;
        top: 1682px;
   }

   .logo{
       background-color: #F2F2F2;
   }